.container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

}

.min-height{
   min-height: calc(100vh - 160px);
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

