.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    flex: 1;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}