
.btnCustom {
  background-color: #2e7d32 !important; 
  border-color: #2e7d32 !important;
  padding: 20px 28px;
  font-size: 1.1rem;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btnCustom:hover {
  background-color: #1b5e20 !important;
  border-color: #1b5e20 !important;
  transform: translateY(-2px);
}
