.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form_control input{    
    border-radius: 1px;
    border: none;
    color: #000;
    padding: 0.7em;

}

.form_control input ::placeholder{
    color: #7b7b7b;
}

