.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form_control select{    
    border-radius: 0;
    border: 1px black;
    color: #000;
    padding: 0.7em;

}

.form_control input ::placeholder{
    color: #7b7b7b;
}

