*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
  
}

html, :root, body{
  height: 100%;
  background-color: #efefef;
}

/*FONTES*/
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


